body main #contact ul {
  -webkit-transition: 1s;
  transition: 1s;
}

body main #contact ul li {
  padding: 5px;
  display: inline-block;
  -webkit-transition: 1s;
  transition: 1s;
}

body main #contact ul li:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body main #contact ul li a {
  text-decoration: none;
}

body main #contact ul li a .fa {
  height: 40px;
  width: 40px;
  border-style: solid;
  background-color: #122046;
  color: white;
  padding: 9.5px;
  border-radius: 50%;
}

body {
  background-color: #f0f0f0;
  color: #122046;
}

body header {
  font-family: "Poppins", sans-serif;
}

body header #menu {
  padding: 20px 30px;
  background: #122046;
}

body header #menu .azlogo {
  font-family: "Audiowide", cursive;
}

body header #inicioMaquila {
  height: 100vh;
  background-color: #12204686;
  position: relative;
  overflow: hidden;
}

body header #inicioMaquila video {
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  position: absolute;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body header #inicioMaquila .itemsInicio {
  height: 100%;
}

body header #inicioMaquila .itemsInicio h1 {
  color: rgba(255, 255, 255, 0.795);
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}

body header #inicioMaquila .itemsInicio .botonPrincipal {
  border-radius: 50px;
}

body header .carousel-caption {
  top: 0;
  opacity: 70%;
  text-align: end;
}

body main {
  padding-top: 3.5rem;
  background-image: url(../imgs/35831.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

body main .par {
  background-color: #f8f8f8;
}

body main .botonSection {
  border-radius: 50px;
}

body main .azgaleria img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

body main .azgaleria img:hover {
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

body main #equipo {
  padding-top: 50px;
  padding-bottom: 50px;
}

body main #equipo .fa {
  height: 28px;
  width: 28px;
  border-style: solid;
  background-color: gray;
  color: white;
  padding: 4px 3px 3px 3px;
  border-radius: 50%;
}

body main #equipo .imgEquipo {
  margin-top: 25px;
}

body main #equipo .imgEquipo .imgCaja {
  opacity: 1;
  display: block;
  position: relative;
}

body main #equipo .imgEquipo .imgCaja img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

body main #equipo .imgEquipo .imgCaja:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main #equipo .imgEquipo .imgCaja ul {
  padding: 15px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

body main #equipo .imgEquipo .imgCaja ul a {
  text-decoration: none;
}

body main #equipo .imgEquipo .imgCaja ul li {
  padding: 5px;
  display: inline-block;
  -webkit-transition: 1s;
  transition: 1s;
}

body main #equipo .imgEquipo .imgCaja ul li:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body main #equipo .imgEquipo .imgCaja:hover ul {
  opacity: 1;
}

body footer {
  background: #122046;
}
/*# sourceMappingURL=stylePrueba.css.map */