// Colores
$backgroundColorPrimary:  rgb(240, 240, 240);
$backgroundColorSecondary:  rgb(248, 248, 248);
// Fuentes
$fontPrimary: "Poppins", sans-serif;
$fontLogo: "Audiowide", cursive;
$fontOpacitySpcial: 70%;
//botones
$borderRadiusBotonPrimary: 50px;
//paddings
$paddingTopMenuFixed: 3.5rem;
//Redes Sociales
%listaRedesSociales {
    ul{
        transition: 1s;  
        li{
            padding: 5px;
            display: inline-block;
            transition: 1s;
            &:hover{
                opacity: 0.8;
                transform: scale(1.5);
            }
            a{
                text-decoration: none;
                .fa{
                    height: 30px;
                    width: 30px;
                    border-style: solid;
                    background-color: gray;
                    color: white;
                    padding: 4.5px;
                    border-radius: 50%;
                }               
            }
        }                 
    }    
}

body {
    // padding-top: $paddingTopMenuFixed;
    background-color: $backgroundColorPrimary;
    color: #122046;
    header{
        font-family: $fontPrimary;
        #menu{
            padding: 20px 30px;
            background: #122046;
            .azlogo{
            font-family: $fontLogo;
            }
            .azMenu{
                li{
                    a{
                      
                    }
                }
            }
        }
        #inicioMaquila{
            height: 100vh;
            background-color: #12204686;
            position: relative;
            overflow: hidden;
            video{
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: -1 ;
                position: absolute;
                filter: grayscale(100%);
            }
            .itemsInicio{
                height: 100%;
                h1{
                    color: rgba(255, 255, 255, 0.795);
                    font-size: 55px;
                    font-weight: 700;
                    margin: 20px 0 20px 0;
                }
                .botonPrincipal{
                    border-radius: $borderRadiusBotonPrimary;
                }
            }
            
        }
        .carousel-caption{
            top: 0;
            opacity: $fontOpacitySpcial;
            text-align: end;
        }
        }
    main{
        padding-top: $paddingTopMenuFixed;
        background-image: url(../imgs/35831.jpg);
        background-size: cover;
        background-position: top;
        background-attachment: fixed;

        font-family: $fontPrimary;

        .par{
            background-color: $backgroundColorSecondary;
        }
        .botonSection{
            border-radius: $borderRadiusBotonPrimary;
        }
        .cabeceraGaleria{
            
        }
        .azgaleria{
            img{
                transition: 0.5s;
            }
            img:hover{
                box-shadow: 1px 1px 10px black;
                transform: scale(1.05);        
            }
   
        }
        #equipo{
            padding-top: 50px;
            padding-bottom: 50px;
            .fa{
                height: 28px;
                width: 28px;
                border-style: solid;
                background-color: gray;
                color: white;
                padding: 4px 3px 3px 3px;
                border-radius: 50%;
            }
            .imgEquipo{
                margin-top: 25px;
                .imgCaja{
                    opacity: 1;
                    display: block;
                    position: relative;

                    img {
                        filter: grayscale(1);
                    }
                    &:hover img{
                        filter: grayscale(0);
                        transition: 0.3s;
                        
                    }
                    ul{
                        padding: 15px 0;
                        position: absolute;
                        z-index: 2;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        transition: 1s;
                        a{
                            text-decoration: none;
                        }
                        li{
                            padding: 5px;
                            display: inline-block;
                            transition: 1s;
                            &:hover{
                                opacity: 0.8;
                                transform: scale(1.5);
                            }
                        }                 
                    }
                    &:hover ul{
                        opacity: 1;
                    }
                }
            }    

        } 
        #contact{
            @extend %listaRedesSociales; 
        }    
    }

}