// Colores
$backgroundColorPrimary:  rgb(240, 240, 240);
$backgroundColorSecondary:  rgb(248, 248, 248);
$brandColor: #122046;
// Fuentes
$fontPrimary: "Poppins", sans-serif;
$fontLogo: "Audiowide", cursive;
$fontOpacitySpcial: 70%;
//botones
$borderRadiusBotonPrimary: 50px;
//paddings
$paddingTopMenuFixed: 2em;

//------------------------------------------------//

body {
    background-color: $backgroundColorPrimary;
    color: $brandColor;
    header{
        font-family: $fontPrimary;
        #menu{
            padding: 20px 30px;
            background: $brandColor;
            .azlogo{
            font-family: $fontLogo;
            }
  
        }
        #inicioMaquila{
            height: 100vh;
            background-color: #12204686;
            position: relative;
            overflow: hidden;
            video{
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: -1 ;
                position: absolute;
                filter: grayscale(100%);
            }
            .itemsInicio{
                height: 100%;
                h1{
                    @media (max-width: 767.98px) {
                        font-size: 40px;
                    }
                    color: rgba(255, 255, 255, 0.795);
                    font-size: 55px;
                    font-weight: 700;
                    margin: 20px 0 20px 0;
                }
                .botonPrincipal{
                    border-radius: $borderRadiusBotonPrimary;
                }
            }
            
        }
        .carousel-caption{
            top: 0;
            opacity: $fontOpacitySpcial;
            text-align: end;
        }
        }
    main{
        @media (max-width: 767.98px) { 
            h2, h3{
                font-size: 1.6em;
            }
            h4, h5{
                font-size: 1.3em;
            }
         }
        padding-top: $paddingTopMenuFixed;
        background-image: url(../imgs/35831.jpg);
        background-size: cover;
        background-position: top;
        background-attachment: fixed;

        font-family: $fontPrimary;

        .par{  
            background-color: $backgroundColorSecondary;
        }
        .botonSection{
            border-radius: $borderRadiusBotonPrimary;
            color: $brandColor;
            &:hover{
                background-color: $brandColor;
            }
        }
        #servicios{
            padding-top: $paddingTopMenuFixed;
            @media (max-width: 767.98px) {
                padding-top: 0;
                .emcabezadoMovil{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 99vh;
                    font-size: 3.5vh;
                    margin: 0;
                    padding: 0;
                }
                .cartasServicios{
                    h3{
                        font-size: 1.2em;
                    }
                } 
            }
        }
        #pilares
        {
            background-image: linear-gradient(rgba(0, 0, 0, 0.781),rgba(12, 30, 112, 0.808)),url(../imgs/galeria/2.jpg);
            background-size: cover;
            background-position: center;
            color: #efefef !important;
            background-attachment: fixed;
            
            h1{
                text-align: center;
                color: #efefef !important;
                padding-bottom: 10px;
            }
            .pilares{
                margin-top: 40px;
                .icon
                {
                    font-size: 100px;
                    margin: 0px auto;
                    color: rgba(255, 255, 255, 0.596);
                }
                p
                {
                    font-size: 14px;
                    margin-top: 20px;
                    color: rgb(255, 255, 255);
                }
            }
        }
               
        #azgaleria{
            padding-top: $paddingTopMenuFixed;
            @media (max-width: 767.98px) {
                padding-top: 0;
                .emcabezadoMovil{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 99vh;
                    font-size: 3.5vh;
                    margin: 0;
                    padding: 0;
                } 
            }
            img{
                transition: 0.5s;
                filter: grayscale(1);
            }
            img:hover{
                box-shadow: 1px 1px 10px black;
                transform: scale(1.05); 
                filter: grayscale(0);       
            }
   
        }
        #equipo{
            padding-top: $paddingTopMenuFixed;
            @media (max-width: 767.98px) {
                padding-top: 0;
                .emcabezadoMovil{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 99vh;
                    font-size: 3.5vh;
                    margin: 0;
                    padding: 0;
                } 
            }
            .imgEquipo{
                margin-top: 25px;
                .imgCaja{
                    opacity: 1;
                    display: block;
                    position: relative;

                    img {
                        filter: grayscale(1);
                    }
                    &:hover img{
                        filter: grayscale(0);
                        transition: 0.3s;
     
                    }
                    ul{
                        padding: 15px 0;
                        position: absolute;
                        z-index: 2;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        transition: 1s;
                        a{
                            text-decoration: none;
                        }
                        li{
                            padding: 5px;
                            display: inline-block;
                            transition: 1s;
                            .fa{
                                height: 28px;
                                width: 28px;
                                border-style: solid;
                                background-color: $brandColor;
                                color: white;
                                padding: 4px 3px 3px 3px;
                                border-radius: 50%;
                            }
                            &:hover{
                                opacity: 0.8;
                                transform: scale(1.5);
                            }
                        }                 
                    }
                    &:hover ul{
                        opacity: 1;
                    }
                }
            }    

        } 
        #contacto{
            padding-top: $paddingTopMenuFixed;
            @media (max-width: 767.98px) {
                padding-top: 0;
                .emcabezadoMovil{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 100vh;
                    font-size: 3.5vh;
                    margin: 0;
                    padding: 0;
                }
                #formulario{
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 100vh;
                    font-size: 3.5vh;
                    padding-top: $paddingTopMenuFixed;  
                }
            }
            @media (min-width: 767.99px){
                
                #masInfo{
                    padding: 100px 0 !important;
                }
            }
           
            ul{
                transition: 1s;  
                li{
                    padding: 5px;
                    display: inline-block;
                    transition: 1s;
                    &:hover{
                        opacity: 0.8;
                        transform: scale(1.5);
                    }
                    a{
                        text-decoration: none;
                        .fa{
                            height: 40px;
                            width: 40px;
                            border-style: solid;
                            background-color: $brandColor;
                            color: white;
                            padding: 9.5px;
                            border-radius: 50%;
                        }               
                    }
                }                 
            }  
        }

    }
    footer{
        background: $brandColor;
    }    

}